{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}

  <div class="jumbotron">
    <div class="row">
      <div class="d-inline-flex align-items-start">  
        <div class="d-inline-flex mx-3">
          <img src="{{movie.poster_url}}" alt="" style="width: 18rem;">
        </div>
        <div class="mx-3">
          <h1 class="display-4">{{movie.title}}</h1>
          <!-- <span>누적 관객수 : {{movie.audience}}</span> -->
          <!-- <h3 class="my-3">  </h3> -->
          <p>감독: {{movie.director}}</p>
          <p>개봉일: {{movie.pubdate}}</p>
          <p>주연: {{movie.cast}}</p>
          <p>장르: {{movie.genre}}</p>
          <p>관객수: {{movie.audience}}명</p>
          <p>추천 수: {{movie.like_users.count}}</p>
          <br>
          <br>

          <form action="{% url 'movies:movie_like' movie.id %}" method="POST">
            {% csrf_token %}
            {% if user in movie.like_users.all %}
              <input type="submit" value="추천취소 👍🏻" >
            {% else %}
              <input type="submit" value="추천 👍🏻" >
            {% endif %}
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class='col-6' style="color:white;">
    {% if user.is_authenticated %}
      {% if update == 0 %}
        <form action="{% url 'movies:create_review' movie.id %}" method="POST">
      {% else %}
        <form action="{% url 'movies:update_review' movie.id review.id %}" method="POST">
      {% endif %}
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="제출" class="btn btn-primary d-inline" style="float: right;">
        <br>
        <br>        
      </form>
    {% endif %}
  </div>
  
  <!-- <hr> -->
  <h3 style="color:rgb(199, 190, 190);">영화 리뷰</h3>
  <hr style="border-color: white">
  {% for review in movie.review_set.all %}
    <div class="mb-3 d-flex justify-content-between" role="alert" style="color:white;">
      <p > {{review.user}} : {{review.content}}</p>
​
      
      {% if review.user == user %}
        <p style="position: absolute; right: 122px;"> 평점 :  {{review.score}}</p>
        <form action="{% url 'movies:update_review' movie.id review.id %}" method="GET">
          {% csrf_token %}
          <input type="submit" class="btn btn-warning" style="position: absolute; right: 57px;" value="수정">
        </form>
        <form action="{% url 'movies:delete_review' movie.id review.id %}" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" style="position: absolute; right: 0;" value="삭제">
        </form>
      {%else%}
        <p> 평점 :  {{review.score}}</p>
      {% endif %}
      
    </div>
  {% endfor %}

{% endblock %}