{% extends 'base.html' %}
{% block body %}
​
<h2 class="my-2" style="color:white;"># 사용자 목록</h2>
<br>
{%endblock%}
{%block body3%}
<table class="table">
  <!-- <thead class="thead-light ">
    <tr>
      <th scope="col">아이디</th>
    </tr>
  </thead> -->
  <tbody>
    {% for user_info in user_list %}
      <tr>
        <!-- <th scope="row">-</th> -->
        <td><a href="{% url 'accounts:detail' user_info.id %}"><h5 style="color:white;">{{user_info.username}}</h5></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}




